@media (max-width: 1116px) {
    .head-content{
        width: 70% !important;
    }   
}

@media (max-width: 999px) {
    .head-content{
        margin: auto;
        border-radius: 0px 0px 212px 212px !important;
        padding: 20px 0px !important;
        
        
        .flex-content{
        flex-direction: column;

            .logo{
                margin: 0px !important;
                height: 150px !important;
            }

            span{
                margin: auto;
            }

            .content{
                h4 , p{
                    margin: 0px 0px 10px 0px !important;
                    text-align: center !important;
                    width: 100% !important;
                }
            }
        }
    }

    .products{
        padding: 10px 0px;

        .navbar-nav{
            padding: 0px !important;
        }
    }

    .heading{
        margin: 0px 0px 10px 0px !important;
    }

    .products .navbar-nav .nav-item .nav-link{
        min-width: 140px !important;
        text-align: center;
    }

    .bottom-nav{
        display: block !important;
    }

    .mobile-state{
        flex-direction: column;

        .state {
            margin: 10px 0px !important;
        }
    }

    .modal-body.prodcut-modal{
        flex-direction: column;
        .content{
            width: 100% !important; 
        }
    }

    .products .general-card {
        padding: 22px 20px 91px 20px !important;
    }
}

@media (max-width: 425px) {
    .head-content {
        width: 90% !important;
    }
}