* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-moz-selection {
  background-color: #917126;
  color: #fff;
}

*::selection {
  background-color: #917126;
  color: #fff;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #ccc;
}

*::-webkit-scrollbar-thumb {
  background: #917126;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #917126;
}

.overflowNone {
  overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 30px !important;
  height: 4px !important;
  border-radius: 30px !important;
  background-color: #917126;
  opacity: .5;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1;
  background-color: #917126;
}

.overflowNone {
  overflow: hidden;
}

.custom-btn {
  width: 240px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #917126;
  background-color: #917126;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  z-index: 99;
}

.custom-btn::after, .custom-btn::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #fff;
  top: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  z-index: -1;
}

.custom-btn::after {
  left: 0;
}

.custom-btn::before {
  right: 0;
}

.custom-btn:hover {
  color: #917126;
}

.custom-btn:hover::after, .custom-btn:hover::before {
  width: 55%;
}

.heading {
  margin-bottom: 50px;
}

.heading h4 {
  color: #917126;
  font-size: 30px;
  font-weight: 900;
  padding: 0px 0px 25px 0px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  z-index: 99;
}

.heading h4::after, .heading h4::before {
  content: '';
  position: absolute;
  z-index: -1;
}

.heading h4::after {
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#917126), to(#282828));
  background: linear-gradient(-90deg, #917126, #282828);
  right: 0;
}

.heading h4::before {
  width: 30px;
  height: 30px;
  background: #fff url("../images/heading_shape.svg") center/contain no-repeat;
  bottom: -12px;
  left: calc(50% - 15px);
  z-index: 9;
}

/***************************** Start Animations *****************************/
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
            transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
  }
  100% {
    -webkit-transform: rotate(360deg) scale3d(1, 1, 1);
            transform: rotate(360deg) scale3d(1, 1, 1);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
            transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
  }
  100% {
    -webkit-transform: rotate(360deg) scale3d(1, 1, 1);
            transform: rotate(360deg) scale3d(1, 1, 1);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*dropdown animation*/
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

/*rotation animation*/
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/*spinner loading page*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*start the wave animation*/
@-webkit-keyframes wave {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@keyframes wave {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@-webkit-keyframes niceAnimate {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes niceAnimate {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes translation {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }
  100% {
    -webkit-transform: translateZ(10%);
            transform: translateZ(10%);
  }
}

@keyframes translation {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }
  100% {
    -webkit-transform: translateZ(10%);
            transform: translateZ(10%);
  }
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes translateX {
  0%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@keyframes translateX {
  0%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@-webkit-keyframes translateY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@keyframes translateY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

/*flipping*/
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg) translate(-50%, -50%);
            transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) translate(-50%, -50%);
            transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg) translate(-50%, -50%);
            transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) translate(-50%, -50%);
            transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}

/*shadow animation*/
@-webkit-keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 0px 35px -4px #00a4e6;
            box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    -webkit-box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
            box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 0px 35px -4px #00a4e6;
            box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    -webkit-box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
            box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}

/*start rotate*/
@-webkit-keyframes rotate {
  0% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
  25% {
    border-top-left-radius: 30%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 70%;
  }
  50% {
    border-top-left-radius: 20%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 30%;
  }
  75% {
    border-top-left-radius: 70%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;
  }
  100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
}
@keyframes rotate {
  0% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
  25% {
    border-top-left-radius: 30%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 70%;
  }
  50% {
    border-top-left-radius: 20%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 30%;
  }
  75% {
    border-top-left-radius: 70%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;
  }
  100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}

@keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}

@-webkit-keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}

@keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}

@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@font-face {
  html[dir="rtl"] {
    font-family: "Tajawal";
    src: url(../fonts/Tajawal/Tajawal-Medium.ttf);
    font-weight: 700;
  }
}

@font-face {
  html[dir="rtl"] {
    font-family: "Tajawal";
    src: url(../fonts/Tajawal/Tajawal-Regular.ttf);
    font-weight: 500;
  }
}

@font-face {
  html[dir="rtl"] {
    font-family: "Tajawal";
    src: url(../fonts/Tajawal/Tajawal-Bold.ttf);
    font-weight: 900;
  }
}

html[dir="rtl"] * {
  font-family: "Tajawal" , "Font Awesome 5 Free" , sans-serif !important;
}

html[dir="rtl"] header .head-content {
  border-radius: 212px 0px 0px 212px;
}

html[dir="rtl"] .add-to-cart .default {
  padding-left: 0px !important;
  padding-right: 16px;
}

html[dir="rtl"] .add-to-cart .default::after, html[dir="rtl"] .add-to-cart .default::before {
  left: unset !important;
  right: 0px !important;
}

html[dir="rtl"] .bottom-nav .content .data .price::after {
  left: unset !important;
  right: -5px !important;
}

html[dir="rtl"] .products .cart-contain .product-list .product-row .data-contain .type::after {
  left: unset !important;
  right: -10px !important;
}

html[dir="rtl"] .products .heading {
  text-align: right !important;
}

html[dir="rtl"] .products .product-box .content {
  text-align: right !important;
}

html[dir="rtl"] header .head-content .flex-content .content p {
  text-align: right;
  direction: rtl;
}

html[dir="rtl"] .products .form-group .form-control {
  direction: rtl;
}

html[dir="rtl"] .products .form-group .label-contain {
  text-align: right;
  width: 100%;
}

@font-face {
  html[dir='ltr'] {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: 700;
  }
}

@font-face {
  html[dir='ltr'] {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 500;
  }
}

@font-face {
  html[dir='ltr'] {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 900;
  }
}

html[dir='ltr'] * {
  font-family: "Poppins" , "Font Awesome 5 Free" , sans-serif;
}

header {
  width: 100%;
  background: url("../images/header.png") center/cover no-repeat;
}

header .head-content {
  width: 50%;
  padding: 90px 0px;
  background: -webkit-gradient(linear, left top, right top, from(#141311), to(#0E003D));
  background: linear-gradient(90deg, #141311, #0E003D);
  border-radius: 0px 212px 212px 0px;
}

header .head-content .flex-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .head-content .flex-content .logo {
  width: 224px;
  height: 224px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-margin-end: 60px;
          margin-inline-end: 60px;
}

header .head-content .flex-content .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header .head-content .flex-content .content h4 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 16px;
}

header .head-content .flex-content .content p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 8px;
}

header .head-content .flex-content .content .state {
  width: 122px;
  height: 30px;
  display: block;
  border-radius: 182px;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  line-height: 25px;
  margin-top: 30px;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}

header .head-content .flex-content .content .state.open {
  background-color: rgba(35, 209, 96, 0.2);
  color: #23D160;
}

header .head-content .flex-content .content .state.close-state {
  background-color: rgba(151, 21, 21, 0.2);
  color: #971515;
}

header .head-content .flex-content .content .state.lang {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
}

.products {
  width: 100%;
  padding: 24px 0px 50px 0px;
  background-color: #F6F6F6;
}

.products .custom-margin {
  margin-bottom: 80px !important;
}

.products .navbar-nav {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-y: hidden;
  padding-top: 10px;
  overflow-x: scroll;
}

.products .navbar-nav::-webkit-scrollbar-thumb, .products .navbar-nav::-webkit-scrollbar-track {
  background-color: transparent !important;
}

.products .navbar-nav .nav-item {
  -webkit-margin-end: 12px;
          margin-inline-end: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.products .navbar-nav .nav-item .nav-link {
  padding: 11px 12px;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  line-height: 25px;
  color: #000;
}

.products .heading {
  font-size: 24px;
  font-weight: 900;
  line-height: 35px;
  color: #000;
  margin: 25px 0px;
}

.products .product-box {
  width: 100%;
  padding: 12px;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  z-index: 99;
}

.products .product-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.products .product-box:hover h4 {
  color: #23D160;
}

.products .product-box .image-content {
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 20px;
}

.products .product-box .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.products .product-box .content {
  width: calc(100% - 160px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-padding-start: 12px;
          padding-inline-start: 12px;
}

.products .product-box .content .product-title h4 {
  font-size: 16px;
  font-weight: 900;
  line-height: 25px;
  margin-bottom: 5px;
}

.products .product-box .content .product-title p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  margin: 0px;
}

.products .product-box .content .price {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  margin: 0px;
}

.products .product-box .content .price span {
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 700;
}

.products .general-card {
  width: 100%;
  padding: 22px 20px;
  background-color: #fff;
  border-radius: 36px;
}

.products .general-card .heading-contain {
  width: 100%;
  text-align: center;
}

.products .general-card .heading-contain h4 {
  color: #000;
  font-size: 36px;
  font-weight: 900;
  line-height: 55px;
  margin-bottom: 16px;
}

.products .general-card .heading-contain p {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}

.products .cart .form-contain {
  margin-top: 27px;
  width: 100%;
}

.products .form-group {
  width: 100%;
  margin-bottom: 20px;
}

.products .form-group .label-contain {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 10px;
}

.products .form-group .form-control {
  width: 100%;
  height: 56px;
  background-color: transparent;
  border: none;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  color: #000;
  font-size: 16px;
  padding: 0px 18px;
  font-weight: 500;
}

.products .form-group .form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

.products .form-group .form-control:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

.products .form-group .form-control::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

.products .form-group .form-control::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

.products .cart-contain .product-list {
  width: 100%;
  padding: 15px 10px;
  background-color: #F6F6F6;
  border-radius: 13px;
  margin-top: 27px;
}

.products .cart-contain .product-list .product-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
}

.products .cart-contain .product-list .product-row .button {
  width: 24px;
  height: 24px;
  border: 1px solid #23D160;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: #fff;
}

.products .cart-contain .product-list .product-row .button i {
  font-size: 15px;
  color: #23D160;
}

.products .cart-contain .product-list .product-row .data-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: calc(100% - 60px);
}

.products .cart-contain .product-list .product-row .data-contain .number, .products .cart-contain .product-list .product-row .data-contain .type {
  padding: 0px 20px;
  color: #000;
  display: inline;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
}

.products .cart-contain .product-list .product-row .data-contain .type {
  position: relative;
}

.products .cart-contain .product-list .product-row .data-contain .type::after {
  content: '\f00d';
  position: absolute;
  left: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.2);
  font-size: 20px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.products .cart-contain .product-info {
  width: 100%;
  padding: 15px 0px;
}

.products .cart-contain .product-info li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 11px;
}

.products .cart-contain .product-info li b {
  font-weight: 900;
  color: #000;
}

.products .cart-contain .product-info li .title {
  font-size: 12px;
  font-weight: 700;
  color: rgba(15, 15, 15, 0.7);
}

.products .cart-contain .product-info li .data {
  font-size: 11px;
  font-weight: 700;
  color: rgba(15, 15, 15, 0.7);
}

.products .btn-contain {
  width: 100%;
  height: 56px;
  background-color: #23D160;
  border: 1px solid #23D160;
  outline: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 28px;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
}

.products .btn-contain:hover {
  background-color: #fff;
  color: #23D160;
}

.add-to-cart {
  --color: #23D160;
  --icon: var(--color);
  --cart: #23D160;
  --dots: #23D160;
  --background: #fff;
  --shadow: rgba(0, 0, 0, 0.16);
  cursor: pointer;
  position: absolute;
  bottom: -44px;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  border-radius: 4px;
  padding: 12px 23px;
  font-weight: 500;
  line-height: 20px;
  -webkit-transform: scale(var(--s, 0.97));
          transform: scale(var(--s, 0.97));
  -webkit-box-shadow: 0 3px 6px var(--shadow);
          box-shadow: 0 3px 6px var(--shadow);
  color: var(--color);
  background: var(--background);
  -webkit-transition: -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: transform .3s, box-shadow .3s;
  transition: transform .3s, box-shadow .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
}

.add-to-cart .default {
  padding-left: 16px;
  position: relative;
  opacity: var(--o, 1);
  -webkit-transform: scale(var(--s, 1));
          transform: scale(var(--s, 1));
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s, -webkit-transform .3s;
  -webkit-transition-delay: var(--d, 0.3s);
          transition-delay: var(--d, 0.3s);
  font-size: 15px;
  font-weight: 900;
  text-transform: capitalize;
}

.add-to-cart .default:before, .add-to-cart .default:after {
  content: '';
  width: 2px;
  height: 12px;
  left: 0;
  top: 4px;
  border-radius: 1px;
  background: var(--icon);
  position: absolute;
  -webkit-transform: rotate(var(--r, 0deg));
          transform: rotate(var(--r, 0deg));
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.add-to-cart .default:after {
  --r: 90deg;
}

.add-to-cart .success {
  opacity: var(--o, 0);
  -webkit-transform: translate(-50%, var(--y, 12px));
          transform: translate(-50%, var(--y, 12px));
  position: absolute;
  top: 12px;
  left: 50%;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-transition-delay: var(--d, 0s);
          transition-delay: var(--d, 0s);
  font-size: 15px;
  font-weight: 900;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.add-to-cart .success i {
  color: #fff;
  font-size: 20px;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}

.add-to-cart .dots {
  width: 4px;
  height: 4px;
  top: 20px;
  left: 50%;
  margin-left: -7px;
  border-radius: 2px;
  position: absolute;
  -webkit-transform-origin: 10px 50%;
          transform-origin: 10px 50%;
  background: #fff;
  -webkit-box-shadow: 5px 0 0 #fff, 10px 0 0 #fff;
          box-shadow: 5px 0 0 #fff, 10px 0 0 #fff;
  opacity: var(--o, 0);
  -webkit-transform: scale(var(--s, 0.4));
          transform: scale(var(--s, 0.4));
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-transition-delay: var(--d, 0s);
          transition-delay: var(--d, 0s);
}

.add-to-cart .cart {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: inherit;
  overflow: hidden;
}

.add-to-cart .cart:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 16px;
  background: #23D160;
  top: 17px;
  right: 110%;
  z-index: 1;
  margin-right: -20px;
  -webkit-transform: translateX(-18px) rotate(-16deg);
          transform: translateX(-18px) rotate(-16deg);
}

.add-to-cart .cart > div {
  top: 13px;
  right: 100%;
  -webkit-transform: translateX(-18px) rotate(-16deg);
          transform: translateX(-18px) rotate(-16deg);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: 1px 21px;
          transform-origin: 1px 21px;
}

.add-to-cart .cart > div:before, .add-to-cart .cart > div:after {
  content: '';
  position: absolute;
  top: var(--t, 4px);
  left: var(--l, 0);
  height: 2px;
  width: var(--w, 18px);
  background: #fff;
  border-radius: 1px;
}

.add-to-cart .cart > div:after {
  --w: 16px;
  --t: 14px;
  --l: 1px;
}

.add-to-cart .cart > div > div {
  width: 2px;
  height: var(--h, 15px);
  border-radius: 1px;
  -webkit-transform: rotate(var(--r, -8deg));
          transform: rotate(var(--r, -8deg));
  background: #fff;
  position: relative;
}

.add-to-cart .cart > div > div:before, .add-to-cart .cart > div > div:after {
  content: '';
  position: absolute;
  background: inherit;
}

.add-to-cart .cart > div > div:after {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  bottom: var(--b, -6px);
  left: var(--l, 0);
}

.add-to-cart .cart > div > div:first-child:before {
  border-radius: inherit;
  top: 0;
  right: 0;
  height: 2px;
  width: 6px;
  -webkit-transform-origin: 5px 1px;
          transform-origin: 5px 1px;
  -webkit-transform: rotate(16deg);
          transform: rotate(16deg);
}

.add-to-cart .cart > div > div:last-child {
  --h: 12px;
  --r: 8deg;
  position: absolute;
  left: 16px;
  bottom: -1px;
}

.add-to-cart .cart > div > div:last-child:after {
  --l: -2px;
  --b: -5px;
}

.add-to-cart.added {
  background-color: #23D160;
}

.add-to-cart.added .default {
  --o: 0;
  --s: .8;
  --d: 0s;
}

.add-to-cart.added .default:before {
  --r: -180deg;
}

.add-to-cart.added .default:after {
  --r: -90deg;
}

.add-to-cart.added .dots {
  --o: 1;
  --s: 1;
  --d: .3s;
  -webkit-animation: dots 2s linear forwards;
          animation: dots 2s linear forwards;
}

.add-to-cart.added .success {
  --o: 1;
  --y: 0;
  --d: 1.8s;
  color: #fff;
}

.add-to-cart.added .cart:before,
.add-to-cart.added .cart > div {
  -webkit-animation: cart 2s forwards;
          animation: cart 2s forwards;
}

.add-to-cart:not(.added):hover {
  --s: 1;
  --s-y: 8px;
  --s-b: 20px;
}

.add-to-cart:not(.added):active {
  --s: .94;
  --s-y: 2px;
  --s-b: 6px;
}

.error {
  width: 100%;
  margin: 10px 0px !important;
  color: #f00;
  display: block;
}

.bottom-nav {
  width: 100%;
  padding: 15px 0px;
  background-color: #23D160;
  border-radius: 10px 10px 0px 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: none;
}

.bottom-nav .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-nav .content .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.bottom-nav .content .data .number {
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 24px;
  border-radius: 9px;
  font-weight: 900;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}

.bottom-nav .content .data .price {
  color: rgba(255, 255, 255, 0.85);
  font-size: 14px;
  font-weight: 500;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  position: relative;
  line-height: 21px;
}

.bottom-nav .content .data .price::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  left: -5px;
  top: calc(50% - 3px);
}

.bottom-nav .content img {
  width: 36px;
  height: 36px;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal-body h4 {
  color: #141216;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}

.modal-body .from-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.modal-body .from-check .label-contain {
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #141216;
}

.modal-body .from-check input[type="checkbox"], .modal-body .from-check input[type="radio"] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

.modal-body .from-check input[type="checkbox"]:checked::after, .modal-body .from-check input[type="radio"]:checked::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal-body .from-check input[type="checkbox"]:checked + span, .modal-body .from-check input[type="radio"]:checked + span {
  color: #fff;
}

.modal-body .from-check .wrapper {
  width: 100%;
  padding: 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.modal-body .from-check .wrapper .radio-check {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #707070;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.modal-body .from-check .wrapper .radio-check.square-check {
  border-radius: 2px !important;
}

.modal-body .from-check .wrapper .radio-check.square-check::after {
  border-radius: 2px !important;
}

.modal-body .from-check .wrapper .radio-check::after {
  content: '\f00c';
  width: 16px;
  height: 16px;
  background-color: #707070;
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  top: 0;
  left: 0;
  font-size: 11px;
}

.modal-body .from-check .wrapper .radio-check:checked::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal-body .from-check .wrapper .radio-title {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin: 0px 10px 0px 0px;
  -webkit-margin-start: 12px !important;
          margin-inline-start: 12px !important;
}

.modal-body .from-check .wrapper .radio-title span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-weight: 500;
  margin: 0px 10px 0px 0px;
}

.modal-body .from-check .wrapper:last-child {
  border: none;
}

.modal-body .from-check .color-lable {
  font-weight: 500;
  font-size: 15px;
  margin: 10px 0px 0px;
  color: #1D2323;
}

.modal-body .from-check:last-child {
  margin: 0px;
}

.modal-body .form-group {
  width: 100%;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
}

.modal-body .form-group:last-child {
  border: 0px !important;
}

.modal-body .flex-contain {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-body .flex-contain p {
  color: #141216;
  font-size: 12px;
  line-height: 18px;
  margin: 0px;
}

.modal-body .add-to-cart {
  position: relative !important;
  bottom: unset !important;
}

@-webkit-keyframes cart {
  41%,
  49%,
  57%,
  60% {
    -webkit-transform: translateX(72px) rotate(0deg);
            transform: translateX(72px) rotate(0deg);
  }
  40%,
  47%,
  54% {
    -webkit-transform: translateX(72px) rotate(0deg) translateY(1px);
            transform: translateX(72px) rotate(0deg) translateY(1px);
  }
  100% {
    -webkit-transform: translateX(180px) rotate(-16deg);
            transform: translateX(180px) rotate(-16deg);
  }
}

@keyframes cart {
  41%,
  49%,
  57%,
  60% {
    -webkit-transform: translateX(72px) rotate(0deg);
            transform: translateX(72px) rotate(0deg);
  }
  40%,
  47%,
  54% {
    -webkit-transform: translateX(72px) rotate(0deg) translateY(1px);
            transform: translateX(72px) rotate(0deg) translateY(1px);
  }
  100% {
    -webkit-transform: translateX(180px) rotate(-16deg);
            transform: translateX(180px) rotate(-16deg);
  }
}

@-webkit-keyframes dots {
  5% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-20px) rotate(-32deg);
            transform: translateY(-20px) rotate(-32deg);
    -webkit-box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
            box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  31% {
    -webkit-box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
            box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
  }
  32%,
  50% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  45%,
  100% {
    -webkit-box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
            box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  51%,
  100% {
    opacity: 0;
  }
}

@keyframes dots {
  5% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-20px) rotate(-32deg);
            transform: translateY(-20px) rotate(-32deg);
    -webkit-box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
            box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  31% {
    -webkit-box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
            box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
  }
  32%,
  50% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  45%,
  100% {
    -webkit-box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
            box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  51%,
  100% {
    opacity: 0;
  }
}

@media (max-width: 1116px) {
  .head-content {
    width: 70% !important;
  }
}

@media (max-width: 999px) {
  .head-content {
    margin: auto;
    border-radius: 0px 0px 212px 212px !important;
    padding: 20px 0px !important;
  }
  .head-content .flex-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .head-content .flex-content .logo {
    margin: 0px !important;
    height: 150px !important;
  }
  .head-content .flex-content span {
    margin: auto;
  }
  .head-content .flex-content .content h4, .head-content .flex-content .content p {
    margin: 0px 0px 10px 0px !important;
    text-align: center !important;
    width: 100% !important;
  }
  .products {
    padding: 10px 0px;
  }
  .products .navbar-nav {
    padding: 0px !important;
  }
  .heading {
    margin: 0px 0px 10px 0px !important;
  }
  .products .navbar-nav .nav-item .nav-link {
    min-width: 140px !important;
    text-align: center;
  }
  .bottom-nav {
    display: block !important;
  }
  .mobile-state {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-state .state {
    margin: 10px 0px !important;
  }
}

@media (max-width: 425px) {
  .head-content {
    width: 90% !important;
  }
}
/*# sourceMappingURL=style.css.map */